body {
  font-family: Helvetica, sans-serif;
}
header {
  position: fixed;
  width: 100%;
  background-color: white;
}
p {
	font-family: Helvetica, sans-serif;
}

main {
  padding-top: 225px;
  width: 100%;
}

img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.logo {
  background-color: white;
  height: 125px;
  width: 100%;
  margin-left: 40px;
}


nav {
  background-color: lightblue;
  
}

ul {
  margin-left: 40px;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  font-family: Helvetica-bold, sans-serif;
  color: white;
}

.picture {
  width: 120px;
  padding-top: 3px;
  padding-right: 10px;
}

h1 {
  padding-top: 25px;
  font-family: Helvetica, sans-serif;
  color: lightblue;
  font-size: 40px;
  text-align: left;
  margin-left: 40px;
}

h3 {
  color: black;
}

h4 {
  line-height: 6px;
}


.quicklinks {
  border: 2px black;
  background-color: lightblue;
  clear: both;
  position: fixed;
  float: right;
  top: 250px;
  left: 600px;
  width: 250px;
  padding: 20px; 
}

a:link {
  text-decoration: none;
}

.left-column {
  float: left;
  width: 600px;
  margin-left: 40px;
  margin-right: 250px;
}

.right-column {
  float: left;
  width: 25%;
  margin-bottom: 5px;
}

